@media screen and (max-width: 1140px) {
    :root {
        font-size: 17px;
    }

    .container {
        padding: 0 2%;
    }

    .banner {
        min-height: 75vh;
    }
}

@media screen and (max-width: 1000px) {
    :root {
        font-size: 16px;
    }

    header,
    header.sticky {
        padding: 10px 40px;
    }

    /* ---- Responsive nav---- */
    header .navigation {
        display: none;
    }

    .menuToggle {
        background: url(/resources/images/menu.png);
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
        width: 40px;
        height: 40px;
    }

    .menuToggle.active {
        background: url(/resources/images/close.png);
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
    }

    header .navigation.active {
        position: fixed;
        top: 68px;
        left: 0;
        width: 100%;
        height: calc(100% - 68px);
        background: rgba($color-black, .9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header.sticky .menuToggle {
        filter: invert(1);
    }

    header .navigation.active li {
        margin: 0;
        margin-top: 30px;
    }

    header .navigation.active li a {
        color: $color-white;
        font-size: 1.7em;
    }

    .banner .container .content .title-box h1 {
        font-size: 3rem;
    }


    .service-box {

        &:nth-of-type(1) {
            order: 1;
        }

        &:nth-of-type(2) {
            order: 4;
        }

        &:nth-of-type(3) {
            grid-column: 1 / -1;
            order: 2;
        }

        &:nth-of-type(4) {
            order: 5;
        }

        &:nth-of-type(5) {
            order: 5;
        }

        &:nth-of-type(6) {
            grid-column: 1 / -1;
            order: 6;
        }
    }
}

@media screen and (max-width: 800px) {
    .banner .container .content .title-box h1 {
        font-size: 2.7rem;
    }

    .about .title-box {
        margin-bottom: 2.5rem;
    }

    .about .D-flex {
        flex-direction: column;
    }

    .about .D-flex .col {
        width: 100%;
    }

    .about .D-flex .img-col {
        text-align: center;
    }

    .about .D-flex .img-col img {
        width: 500px;
    }

    .app .D-flex .text-col .btns a img {
        margin: 10px 0 0 0;
    }
}

@media screen and (max-width: 700px) {

    .app .app-2 {
        margin: 90px 0;
    }
}

@media screen and (max-width: 650px) {

    .service-box {

        &:nth-of-type(1) {
            order: 1;
        }

        &:nth-of-type(2) {
            order: 2;
        }

        &:nth-of-type(3) {
            order: 6;
        }

        &:nth-of-type(4) {
            order: 4;
        }

        &:nth-of-type(5) {
            order: 5;
        }

        &:nth-of-type(6) {
            order: 5;
        }
    }
}

@media screen and (max-width: 620px) {

    .app {
        .D-flex {
            flex-direction: column;

            .col {
                width: 100%;
            }

            .img-col {
                text-align: center;
                margin-bottom: 3rem;
                order: 0;

                img {
                    width: 156px;
                }
            }

            .text-col {
                order: 1;

                .btns {
                    a img {
                        margin: 10px 0 0 10px;
                        width: 130px;
                        height: 50px;
                    }
                }
            }
        }
    }

    footer .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    footer .footer-backLink-col {
        margin-top: 20px;
    }
}

@media screen and (max-width: 571px) {
    // .service-box {
    //     width: 500px;
    //     margin: 13px;
    // }

    .app .app-2 {
        margin: 60px 0;
    }
}

@media screen and (max-width: 500px) {
    .banner .container .content .title-box h1 {
        font-size: 2.3rem;
    }

    .banner .container .content .title-box p {
        font-size: 1.3rem;
    }
}