.service-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    padding: 1.9rem 1rem;
    // width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 7px 7px #efefef;
    transition: all .4s;

    &:hover {
        background: linear-gradient(to right, $color-grad-1, $color-grad-2);
        box-shadow: 7px 7px 12px 5px rgba(0, 0, 0, 0.3);
        transform: translateY(-1rem);
    }

    &:hover h3 {
        color: $color-white;
    }

    &:hover p {
        color: #f2f2f2;
    }

    & .icon-bx {
        width: 4.5rem;
    }

    & .icon-bx img {
        width: 100%;
    }

    & h3 {
        font-size: 1.1rem;
        font-weight: 400;
        color: rgba($color-black, .9);
        margin: 1rem 0 .9rem 0;
        text-align: center;
        transition: ease all .1s;
    }

    & p {
        text-align: center;
        font-size: 0.9rem;
        font-weight: 300;
        transition: all .1s;
        line-height: 27px;
    }

    &:nth-of-type(1) {
        order: 1;
    }

    &:nth-of-type(2) {
        order: 4;
    }

    &:nth-of-type(3) {
        grid-column: 2 / 4;
        order: 2;
    }

    &:nth-of-type(4) {
        order: 5;
    }

    &:nth-of-type(5) {
        order: 5;
    }

    &:nth-of-type(6) {
        grid-column: 1 / 3;
        order: 3;
    }


}