:root {
    font-size: 18px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

section {
    padding: 3.79rem 0;
    width: 100%;
}


//   
/* 
    font-family: 'Poppins', sans-serif;
    9:25----4%

    working
    */