/* ---- Hero ---------- */
.banner {
    padding: 0 0;
    height: calc(100vh - 5rem);
    position: relative;



    .container .content {
        height: 75vh;
        justify-content: center;
        align-items: center;

        .title-box {
            h1 {
                letter-spacing: 1px;
                font-weight: 600;
                font-size: 3rem;
                color: $color-white;
                margin-bottom: 3rem;
                text-transform: capitalize;
            }

            p {
                font-size: 1.5rem;
                font-weight: 300;
                color: whitesmoke;
                margin-bottom: 20px;
            }

            .btn-full {
                margin-left: 15px;
            }
        }
    }

}

/* ------- About Us ---------- */


.about .D-flex {
    .text-col {
        align-self: center;
    }

    .img-col {
        display: grid;
        justify-content: center;

        overflow: hidden;
    }

    p {
        line-height: 27px;
    }

    .btn-ghost-blue {
        margin-top: 1.2rem;
    }

}

/* --------- Services ------- */
.services {
    background-color: #f4f4f4;

    .title-box p {
        color: $color-dark;
    }

    .services-container {
        margin-top: 4rem;

        justify-content: center;
        justify-items: center;
        align-items: start;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-flow: dense;
        gap: 1.4rem;
    }

    .service-box-1 {
        background: linear-gradient(to right, $color-grad-1, $color-grad-2);

        h3 {
            color: $color-white;
        }

        p {
            color: #f2f2f2;
        }
    }

}

/* ----------- Cta --------- */
.cta-hr hr {
    color: $color-primary-dark;
}


/* ----- Portfolio -------- */
.portfolio {
    background-color: #f8f8f8;

    .title-box {
        margin-bottom: 3rem;
    }
}